


<div class="container">

<% @cuisines.each do |cuisine| %>
<div class="grid-item">
  <a href="<%= cuisine_path(cuisine.id) %>">
  <%= cl_image_tag cuisine.image, class:"cuisinImg"%>
  <br>
  <%= cuisine.name %>

   </a>

  </div>
<% end %>

</div>
<br>
