/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";
@import "font-awesome";

// .col {
//
// }


.icon {
  size: 36px;
}
body {
  background: #204b5e;
  font-family: 'raileway', sans-serif;

  // justify-content: center;
}
.name{
  padding:50px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 50pt;
  color: rgb(163, 215, 51);
}

ul.topnav {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    opacity:0.8;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #204b5e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #2A95B8;}

ul.topnav li a.active {background-color: yellow;}

ul.topnav li.right {float: right;}
