/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";
@import "font-awesome";

// .col {
//
// }


.icon {
  size: 36px;
}
body {
  background: #f2f2f2;
  font-family: 'raileway', sans-serif;

  // justify-content: center;
}
.name{
  padding-top:40px;
  padding-bottom:0px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 60pt;
  color: #008080;
}
.welcome{
// padding:0px 5px;
margin: 0px 20px;
display:flex;
  // text-align: center;
  // align-items: center;
  // justify-items:center;
  color: #009999;
}
ul.topnav {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #b3cccc;
    opacity:0.8;
    text-align: center;
    align-items: center;
    justify-items:center;

}

ul.topnav li {
  // float: left;

  display:inline;
}

ul.topnav li a {
    display: inline-block;
    color: #004d4d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

ul.topnav li a:hover:not(.active) {background-color: #00e6e6;}

ul.topnav li a.active {background-color: yellow;}

ul.topnav li.right {float: right;}
