

body {
  background: #204b5e;
  font-family: 'Kanit', sans-serif;
}

.container {

  display: grid;
  padding: 20px;
  /* background: yellow; */
  grid-template-columns: 300px 300px 300px ;
  grid-template-rows: 300px 300px 300px ;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: 250vh;
  align-items: center;
  justify-items:center;
  justify-content:center;



}
.grid-item {
  background: #ffffff;
  padding: 20px;

}

.name {
  color: white;
  text-align: center;
}


.cuisinImg {
  width: 270px;
  border: 1px dashed #a6a6a6;
  padding: 3px;
}

a:link {
  color: #666666;

}
a:visited {
  color: #666666;

}
