


<%= link_to 'Delete This Review', review_path(@review), method: 'delete'%>


<% @recipes.reviews.each do |review| %>
<p>Rating: <%= review.rating %></p>
<p>Comment: <%= review.comment %></p>

<% end %>



</br>
